// figure out bootstrap but enter some css for now

/* body {
  font-family: 'Lato', sans-serif;
} */

body {
    width: 100%;
    background-color: blue;
}

.innernav {
    z-index: 2;
}

.innernav-invisible {
    visibility: hidden;
    width: 100%;
    height: 80px;
}

#checkboxes {
    display: inline-flex;
}

/* put into html:
<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet"> */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}


blockquote {
    color: #7acdcf;
}

lg-button {
    color: #7acdcf;
    border-radius: 15px;
}

sm-button {
    color: #7acdcf;
    border-radius: 15px;
}

/* .innernav { 
   width: 100%; 
} */

.btn {
    background-color: #2c314f !important;
}

.navbar-brand {
    background-color:  #2c314f;
    color: white;
    font-size: 64px;
}

.navbar-brand:hover {
    background-color: white;
    border: #7acdcf;
  }

/* blues:
darker blue: #2c314f;
lighter blue is: #7acdcf;
very light grey: #efeee9;
grey: #aaaaaa;
blackish/navy: #1b1d28;
*/

/* Begin Sandy's SCSS */

.fixed-top {
    z-index: -1030;
}

.h1style {
    background-color: #7acdcf;
    line-height: 3em;
    text-transform: uppercase;
    color: #2c314f;
    text-align: center;
}
.inputBoxStyle {    
    margin-top: 5em;
    border: 1px solid #7acdcf;
    padding: 3em;
    background-color: #efeee9;
}

/* End Sandy's CSS */
