
body {
    width: 100%;
    background-color: #efeee9; 
    font-family: 'Lato', 'Montserrat', sans-serif;
}

.innernav {
    z-index: 2;
    position: absolute;
    // color: white;
}

#checkboxes {
    display: inline-flex;
}

.checkbox-area {
    margin: 10px 20px;
}

/* put into html 2/10 sat:
<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet"> */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

/* .navbar {
    color: white;
} */

.navbar-brand {
    background-color:  #7acdcf;
    color: white; // wasn't working + then i tested the bootstrap classes written in the html and took one out
    font-size: 1rem; 
    padding: 8px 18px;
    border-radius: 35%;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand:hover {
    background-color: white;
    border: #7acdcf;
  }

.message-history-area {    
    margin-top: 2em;
    border: 2px solid #2c314f;
    padding: 3em;
    background-color: #efeee9;
}

.delete-button {
    background-color: #2c314f;
    color: white; // wasn't working + then i tested the bootstrap classes written in the html and took one out
    font-size: 1rem; 
    padding: 8px 18px;
    border-radius: 35%;
    font-family: 'Montserrat', sans-serif;
}

/* blues:
darker blue: #2c314f;
lighter blue is: #7acdcf;
very light grey: #efeee9;
grey: #aaaaaa;
blackish/navy: #1b1d28;
*/

/* Begin Sandy's SCSS */

.fixed-top {
    z-index: -1030; 
}

.h1style {
    background-color: #7acdcf;
    line-height: 3em;
    text-transform: uppercase;
    color: #2c314f;
    text-align: center;
}

.inputBoxStyle {    
    margin-top: 5em;
    border: 2px solid #2c314f;
    padding: 3em;
    background-color: #efeee9;
}

/* End Sandy's CSS */
